.monthly-data-chart{
    display: flex;
    flex-direction: row;
    gap: 16px;
    padding: 20px;
    justify-items: center;
    align-items: center;

    @media (max-width: 500px) {
        gap: 0px;
      }
}

