.settings-content{
    width: 100%;
    height: calc(100% - 72px);
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    
}